*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #F3EFEA;
    color: #323232;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word  
}

h1{
    margin: 0;
    color: #F6F6F6;
    font-size: 48px;
    font-family: Tenor Sans, sans-serif;
    font-weight: 400;
    line-height: 72px;
    word-wrap: break-word
}

h2{
    color: #57463A;
    font-size: 48px;
    font-family: Tenor Sans, sans-serif;
    font-weight: 400;
    line-height: 72px;
    word-wrap: break-word   
}

button{
    border: none; 
    outline: none; 
    background: #F6F6F6;
    width: 328px; 
    height: 60px;
    color: #715B4B;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word   
}

.header__nav__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 140px 20.5px 142px;
    border-bottom: 1px black solid;
}

.header__nav__link{
    text-decoration: none;
    color: #323232;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 21px;  
    word-wrap: break-word   
}

.custom_furniture{
    background: linear-gradient(180deg, rgba(49.94, 49.94, 49.94, 0.50) 62%, rgba(0, 0, 0, 0) 100%);
    background-image: url(/img/carpentry_workshop.png);   
    height: 639px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 160px;
}

.custom_furniture_title{
    padding: 218px 448px 90px 449px;
}

.custom_furniture_slogan{
    color: #F6F6F6;
}

.custom_furniture_text{
    color: #F6F6F6;
}

.advantages{
    padding: 0 220px 160px 134px;
}

.advantages_title{
    font-weight: 700;
    border-bottom: 1px #715B4B solid;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.advantages_cards{
    padding-top: 100px;
    display: flex;  
    justify-content: space-between;
}

.advantages_card{
    display: flex;
    flex-direction: column;
    row-gap: 78px;
}

.portfolio{
    margin: 0 261px 160px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.portfolio_title{
    padding: 0 0 100px 134px;
}

.portfolio_small_photo{
    width: 103px;
    height: 102px;
}

.portfolio_gallery{
    margin-top: 21px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.portfolio_left_btn, .portfolio_right_btn{
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
}

.full_photo img{
    width: 818px;
    height: 695px;
}

.stages_title{
    padding: 0 0 100px 134px;
}

.stages_table{
    list-style-type: none;
    display: table;
    margin: 0 140px 160px 142px;
}

.stages_text{
    font-weight: 300;
    line-height: 16.48px;
    margin-left: 26px;
    margin-bottom: 29.5px;
}

.stages_table_item{   
    border: 1px black solid;
    display: table-cell;
    width: 386px;
}

.stages_table_row{
    display: table-row;
}

.stages_table_item h2{
    margin: 10px 42px 0 291px;
}

.about_title{
    padding: 0 0 100px 140px;
}

.about_images{
    display: flex;
    padding: 0 4px 117px 176px;
    justify-content: space-between;
    align-items: center;
}

.about_right_btn{
    visibility: hidden;
}

.application{
    margin: 0 353px 181px 142px;
}

.application_button{
    margin: 100px 0 0 456px; 
    background: #A1B29F;
    width: 245px; 
    color: #F6F6F6;
}

.footer{
    background: #715B4B;
}

.footer__nav{
    display: flex;
    justify-content: space-between;
    padding: 84px 140px 239px;
}

.footer__nav__item{
    text-decoration: none;
    color: #F6F6F6;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word
}

.footer__nav__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer_social_networks :first-child{
    padding-right: 10px;
}

.nav_phone{
    display: none;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 20%;
    overflow: auto;
    background: #E3DACE;
    border: 1px black solid;
    width: 400px;
    height: 350px;
}

.modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.close{
    background:  #E3DACE;
    width: 20px; 
    height: 20px;
    float: right;
    align-self: end;
}

.modal_button{
    background: #A1B29F;
    color: #F6F6F6;
    width: 250px; 
}

.modal_field input{
    border: 1px black solid ;;
    width: 250px;
}

.modal_field{
    display: flex;
    flex-direction: column;
}

@media (max-width: 376px) {
    br{
        display: none;
    }

    h1,h2{
        margin: 0;
        font-size: 32px;     
        line-height: 48px; 
    }

    .header__nav__list{
        display: none;  
    }
    
    .nav_phone{
        display: block;
        width: 68px;
        height: 15px; 
        margin: 27px 29px 40px 278px;   
    }

    .nav_phone span,
    .nav_phone span::before,
    .nav_phone span::after{
        position: absolute;
        width: 68px;
        height: 3px;
        background: #57463A;   
    }

    .nav_phone span::before,
    .nav_phone span::after{
        content:'';
    }

    .nav_phone span::before{
       transform: translateY(-5px);
    }

    .nav_phone span::after{
        transform: translateY(5px);
    }

    .custom_furniture{
        height: 687px;
        text-align: start;
        background-position: 10%;
    }

    .custom_furniture_title{
        padding: 177px 43px 60px 37px; 
    }

    .custom_furniture_slogan{
        padding: 0 47px 30px 0;
    }

    .custom_furniture button{
        width: 300px; 
        margin-left: 38px;
        margin-right: 37px;
    }

    .advantages{
        padding: 0 57px 90px 36px;
    }
    
    .advantages_cards{
        padding-top: 60px;
        flex-direction: column;
    }
    
    .advantages_card{
        row-gap: 40px;
        margin-bottom: 40px;
    }
    
    .advantages_card:last-child{
        margin-bottom: 0;
    }

    .portfolio{
        margin: 0;
        flex-direction: row; 
        justify-content: flex-start;
    }
    
    .portfolio_title{
        padding: 0 149px 60px 37px;
    }

    .full_photo img{
        margin: 0 37.5px 90px;
        width: 300px;
        height: 254px;
    }
    
    .portfolio_small_photo{
       visibility: hidden;
    }
    
    .portfolio_left_btn{
        visibility: hidden;
    }

    .portfolio_right_btn{
        position: absolute;
        line-height: 15px;
        font-size: 15px;
        width: 17px;
        height: 17px;
        left: 329px;
        top: 2300px;
    }

    .stages_title{
        padding: 0 103px 60px 38px;
    }

    .stages_table{
        margin: 0 37px 90px 38px;
        display: flex;
        flex-direction: column;
    }
    
    .stages_table_item{   
        width: 300px;
        height: 120px;
    }
    
    .stages_table_row{
        display: flex;
        flex-direction: column;
    }
    
    .stages_table_item h2{
        margin: 3px 20px 0 252px;
    }

    .stages_text{
        margin: 14px 48px 0 21px;
        align-items: flex-end;
    }

    .about_title{
        padding: 0 102px 60px 38px;
    }

    .about_images img:first-child{
        visibility: visible;
        margin: 0 70px 90px 75px;
    }
    
    .about_images{
        visibility: hidden;
        padding: 0;
    }

    .about_right_btn{
        visibility: visible;
        position: absolute;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 15px;
        font-size: 15px;
        width: 17px;
        height: 17px;
        left: 318px;
        top: 3708px;
    }

    .application{
        margin: 0 37px 150px 38px;
    }
    
    .application_button{
        margin: 60px 0 0 0; 
        width: 300px;
    }

    .footer__nav__list li{
        padding-bottom: 9px;
    }

    .footer_social_networks{
        order: 1;
        margin-bottom: 111px;
    }

    .footer__nav__list:nth-of-type(2){
        order: 2;
    }

    .footer__nav__list:nth-of-type(3){
        order: 3;
        margin-bottom: 53px;
    }

    .footer__nav__list:nth-of-type(4){
        order: 4;
        margin-bottom: 53px;
    }

    .footer__nav__list:nth-of-type(1){
        order: 5;
    }

    .footer__nav{
        flex-direction: column;
        padding: 40px 89px 236px 38px;
    }    
}


